absl-py==1.3.0
    # via kfp
attrs==22.1.0
    # via jsonschema
cachetools==5.2.0
    # via google-auth
certifi==2022.9.24
    # via
    #   kfp-server-api
    #   kubernetes
    #   requests
charset-normalizer==2.1.1
    # via requests
click==8.1.3
    # via
    #   kfp
    #   typer
cloudpickle==2.2.0
    # via kfp
deprecated==1.2.13
    # via kfp
docstring-parser==0.15
    # via kfp
fire==0.4.0
    # via kfp
google-api-core[grpc]==2.11.0
    # via
    #   google-api-python-client
    #   google-cloud-aiplatform
    #   google-cloud-bigquery
    #   google-cloud-core
    #   google-cloud-resource-manager
    #   google-cloud-storage
    #   kfp
google-api-python-client==1.12.11
    # via kfp
google-auth==2.15.0
    # via
    #   google-api-core
    #   google-api-python-client
    #   google-auth-httplib2
    #   google-cloud-core
    #   google-cloud-storage
    #   kfp
    #   kubernetes
google-auth-httplib2==0.1.0
    # via google-api-python-client
google-cloud-aiplatform==1.18.1
    # via -r requirements.in
google-cloud-bigquery==2.34.4
    # via google-cloud-aiplatform
google-cloud-core==2.3.2
    # via
    #   google-cloud-bigquery
    #   google-cloud-storage
google-cloud-resource-manager==1.6.3
    # via google-cloud-aiplatform
google-cloud-storage==2.6.0
    # via
    #   google-cloud-aiplatform
    #   kfp
google-crc32c==1.5.0
    # via google-resumable-media
google-resumable-media==2.4.0
    # via
    #   google-cloud-bigquery
    #   google-cloud-storage
googleapis-common-protos[grpc]==1.57.0
    # via
    #   google-api-core
    #   grpc-google-iam-v1
    #   grpcio-status
grpc-google-iam-v1==0.12.4
    # via google-cloud-resource-manager
grpcio==1.51.1
    # via
    #   google-api-core
    #   google-cloud-bigquery
    #   googleapis-common-protos
    #   grpc-google-iam-v1
    #   grpcio-status
grpcio-status==1.48.2
    # via google-api-core
httplib2==0.21.0
    # via
    #   google-api-python-client
    #   google-auth-httplib2
idna==3.4
    # via requests
jinja2==3.1.2
    # via -r requirements.in
jsonschema==3.2.0
    # via kfp
kfp==1.8.16
    # via -r requirements.in
kfp-pipeline-spec==0.1.16
    # via kfp
kfp-server-api==1.8.5
    # via kfp
kubernetes==18.20.0
    # via kfp
markupsafe==2.1.1
    # via jinja2
numpy==1.23.5
    # via pyarrow
oauthlib==3.2.2
    # via requests-oauthlib
packaging==21.3
    # via
    #   google-cloud-aiplatform
    #   google-cloud-bigquery
proto-plus==1.22.1
    # via
    #   google-cloud-aiplatform
    #   google-cloud-bigquery
    #   google-cloud-resource-manager
protobuf==3.20.3
    # via
    #   google-api-core
    #   google-cloud-aiplatform
    #   google-cloud-bigquery
    #   google-cloud-resource-manager
    #   googleapis-common-protos
    #   grpcio-status
    #   kfp
    #   kfp-pipeline-spec
    #   proto-plus
pyarrow==10.0.0
    # via -r requirements.in
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
pydantic==1.10.2
    # via kfp
pyparsing==3.0.9
    # via
    #   httplib2
    #   packaging
pyrsistent==0.19.2
    # via jsonschema
python-dateutil==2.8.2
    # via
    #   google-cloud-bigquery
    #   kfp-server-api
    #   kubernetes
pyyaml==5.4.1
    # via
    #   kfp
    #   kubernetes
requests==2.28.1
    # via
    #   google-api-core
    #   google-cloud-bigquery
    #   google-cloud-storage
    #   kubernetes
    #   requests-oauthlib
    #   requests-toolbelt
requests-oauthlib==1.3.1
    # via kubernetes
requests-toolbelt==0.10.1
    # via kfp
rsa==4.9
    # via google-auth
six==1.16.0
    # via
    #   fire
    #   google-api-python-client
    #   google-auth
    #   google-auth-httplib2
    #   jsonschema
    #   kfp-server-api
    #   kubernetes
    #   python-dateutil
strip-hints==0.1.10
    # via kfp
tabulate==0.9.0
    # via kfp
termcolor==2.1.1
    # via fire
typer==0.7.0
    # via kfp
typing-extensions==4.4.0
    # via pydantic
uritemplate==3.0.1
    # via
    #   google-api-python-client
    #   kfp
urllib3==1.26.13
    # via
    #   kfp-server-api
    #   kubernetes
    #   requests
websocket-client==1.4.2
    # via kubernetes
wheel==0.38.4
    # via strip-hints
wrapt==1.14.1
    # via deprecated

# The following packages are considered to be unsafe in a requirements file:
# setuptools
